# Python
.venv/
.ven/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.log

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Data / models (large files)
ia/data/data/raw/
ia/modeling/outputs/models/
mlruns/
